@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.body-home {
  background-image: url(../assets/desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap; }

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600; }

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }

nav ul li {
  margin: 0 5px; }

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease; }

nav ul li {
  a: active; }

nav ul li a:hover {
  color: #111;
  background: #fff;
  z-index: 9999; }

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
  z-index: 9999; }

input[type="checkbox"] {
  display: none; }

.body-home {
  background-image: url(../assets/desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.titulo {
  font-family: 'Abril Fatface';
  color: #fff;
  text-align: center;
  position: relative;
  bottom: -400px;
  font-size: larger;
  z-index: 1; }

.logo-medio {
  text-align: center;
  position: relative;
  bottom: -400px;
  font-size: larger;
  z-index: 1; }

.boton {
  background-color: #f33d3d;
  width: 125px;
  height: 40px;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  z-index: 1; }

.uniteya {
  text-align: center;
  position: relative;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  bottom: -9px; }

.uniteya a {
  color: #fff; }

.body-profes {
  background-color: #242323; }

footer {
  background-color: #242323;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

footer p {
  margin: 0; }

.grid-container {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.carddd {
  border: 4px solid white;
  padding: 10px;
  text-align: center; }

.carddd img {
  width: 90%;
  height: auto;
  margin-bottom: 1%; }

.carddd h2 {
  color: white; }

.carddd p {
  color: white; }

.body-profes {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.container-table table tbody tr td {
  font-family: sans-serif; }

.container-table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px; }

table {
  color: white;
  font-size: 30px;
  table-layout: fixed;
  border-collapse: collapse; }

td {
  padding: 15px;
  border-bottom: solid 2px; }

tbody tr:hover {
  color: gold; }

.tituloo {
  color: gold;
  font-family: 'Roboto Condensed', sans-serif; }

.tituloo h1 {
  font-size: 70px; }

hr {
  border-color: white; }

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.form-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }

.form-group label {
  font-weight: bold;
  margin-bottom: 5px; }

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px; }

.form-group input[type="submit"] {
  background-color: gold;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px; }

.form-group input [type="submit"]:hover {
  background-color: gold; }

.main-planes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px; }

.card {
  width: calc(33% - 20px);
  margin-bottom: 15%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  z-index: -1; }

.card-content {
  padding: 15%;
  z-index: -1; }

.card-content h3 {
  margin-top: 0;
  z-index: -1; }

.card-content p {
  margin-bottom: 0;
  z-index: -1; }

ul li a {
  color: blue;
  z-index: -1; }

.mi-footer {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  margin-top: auto; }

.mi-footer .mi-container {
  max-width: 100%;
  margin: 0 auto; }

.mi-footer p {
  color: #242323;
  margin: 0; }

@media screen and (max-width: 425px) {
  .titulo {
    font-size: medium;
    bottom: -300px; }
  .logo-medio {
    font-size: medium;
    bottom: -300px; }
  .boton {
    width: 100%;
    bottom: 0; }
  .uniteya {
    width: 100%;
    text-align: center; } }

@media screen and (max-width: 425px) {
  .tituloo {
    font-size: 15px; }
  .form-container {
    margin: 0 auto;
    width: 90%;
    height: 90%; } }

@media (max-width: 425px) {
  .tituloo {
    font-size: 45px; }
  .grid-container {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 425px) {
  table {
    font-size: 12px; } }

@media (max-width: 375px) {
  .titulo h1 {
    font-size: 27px; } }

@media (max-width: 375px) {
  .container-table {
    padding: 2%; } }

@media (max-width: 375px) {
  .card {
    top: -35px; } }

@media (max-width: 320px) {
  .titulo h1 {
    font-size: 25px; } }

@media (max-width: 320px) {
  .tituloo h1 {
    font-size: 32px; } }

@media (max-width: 320px) {
  .form-container {
    margin: 0 auto;
    width: 95%;
    height: 80%; } }

@media (max-width: 320px) {
  .container-table {
    padding: 10px; } }

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
    z-index: 9999; } }

@media (max-width: 920px) {
  nav
.menu-btn i {
    display: block;
    z-index: 9999; }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d"; }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 9999; }
  #click:checked ~ ul {
    left: 0;
    z-index: 9999; }
  nav ul li {
    width: 100%;
    margin: 40px 0;
    z-index: 9999; }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 9999; }
  #click:checked ~ ul li a {
    margin-left: 0px;
    z-index: 9999; }
  #click:checked ~ ul nav ul li a.active,
  #click:checked ~ ul nav ul li a:hover {
    background: none;
    color: gold;
    z-index: 9999; } }

@media (max-width: 768px) {
  nav .menuu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0; }
  nav label {
    display: inline-flex;
    color: gold;
    cursor: pointer; }
  nav #toggle:checked ~ .menuu {
    height: 100%; } }

@media (max-width: 768px) {
  .carddd h2 {
    color: gold; } }

@media (max-width: 768px) {
  .card {
    top: -35px;
    width: 90%;
    margin: 20px auto; }
  .tituloo h1 {
    font-size: 45px; } }

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
    z-index: 9999; } }
