.body-home{
    background-image: url(../assets/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
    z-index: 9999;
}
.logo{
    height: 40px;
}

nav{
    ul{
        text-align: center;
        z-index: 9999;
    }
}
nav{
    ul{
        li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            z-index: 9999;
        }
    }
}
nav{
    ul{
        li{
            a{
                color: $color-blanco;
                font-size: 18px;
                padding: 7px;
                border-radius: 3px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                z-index: 9999;
            }
        }
    }
}
li{
    a:active{    
        li:hover{
        z-index: 9999;
        background: gold;
        transition: .5s;
        }
    }
}
.checkbtn{
    z-index: 9999;
    font-size: 30px;
    color: $color-blanco;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    z-index: 9999;
    display: none;
}