.grid-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.carddd {
    @include mixin-carddd
    (4px solid white, 10px, center)  
}

.carddd img {
    width: 90%;
    height: auto;
    margin-bottom: 1%;
}
.carddd{
    h2{
        color: white;
    }
}
.carddd{
    p{
        color: white;
    }
}
