@media (max-width: 375px){
    .titulo{
        h1{
            font-size: 27px;
        }
    }
}

@media (max-width: 375px){
    .container-table{
        padding: 2%;
    }
}
@media (max-width: 375px){
    .card{
        top: -35px;
    }
}