@media screen and (max-width: 425px) {
    .titulo{
    font-size: medium;
    bottom: -300px;
    }

    .logo-medio{   
    font-size: medium;
    bottom: -300px;
    }

    .boton{
    width: 100%;
    bottom: 0;
    }

    .uniteya{
    width: 100%;
    text-align: center;
    }
}

// contactanos
@media screen and (max-width: 425px){
    .tituloo{
        font-size: 15px;
    }
    .form-container{
        margin: 0 auto;
    width: 90%;
    height: 90%;
    }
}


// profesores
@media (max-width: 425px) {
    .tituloo{
        font-size: 45px;
    }
    .grid-container {
        grid-template-columns: 1fr;
}
}


// sucursales
@media screen and (max-width: 425px) {
    table {
    font-size: 12px;
    }
}


